.login
{   color:black;
    top:28%;
    position: absolute;
    right: 800px;
    width: 300px;
    padding: 10px;
}

.button{ background-color:rgb(8, 193, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.welcome{
    padding: -100px 0px;
    opacity: .6;
}
