<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <style>
    ul {
        list-style-type: upper-roman;

      }

      a {
        margin-right: 20px;
      }
    </style>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="http://localhost:4200/pages/student-home">Home</a>
      <a class="navbar-brand" href="http://localhost:4200/pages/my-account">My Account</a>
      <a class="navbar-brand" href="#">Log out</a>
    </ul>
  </div>

</nav>
<h2>Available Courses</h2>
<div class="courses">
  <fieldset>
    <legend>Select a course </legend>
    <div class="form-group">
      <select class="custom-select" [(ngModel)]="selectedCourse">
        <option *ngFor=" let course of unatendedCourses" [ngValue]="course">{{course.name}}</option>
      </select>

      <button type="button" class="button" (click)="onSelectCourseClick()">Enroll</button>
    </div>
  </fieldset>
</div>
