<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <style>
    ul {
        list-style-type: upper-roman;

      }

      a {
        margin-right: 20px;
      }
    </style>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <a  *ngIf="!user.isTeacher" class="navbar-brand" href="http://localhost:4200/pages/student-home">Home</a>
      <a *ngIf="!user.isTeacher" class="navbar-brand" href="http://localhost:4200/pages/search">Search</a>
      <a  *ngIf="user.isTeacher" class="navbar-brand" href="http://localhost:4200/pages/teacher-home">Home</a>
      <a class="navbar-brand" href="http://localhost:4200/pages/my-account">My Account</a>
      <a class="navbar-brand" href="#">Log out</a>
    </ul>
  </div>

</nav>
<h2>Password Change</h2>
<div>
  <style>
    input[type=text], input[type=password]  {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              box-sizing: border-box;
              border: 2px solid black;
              border-radius: 4px;
          }
          </style>
  <label>Old password:
    <input type="password" [(ngModel)]="passwordOld" placeholder="Old Password" />
  </label>
  <label>New password:
    <input type="password" [(ngModel)]="passwordNew" placeholder="New Password" />
  </label>
  <label>Confirm the new password:
    <input type="password" [(ngModel)]="passwordNew2" placeholder="Confirm the new password" />
  </label>
  <p class="text-danger">{{status}}</p>
  <button type="button" class="button" (click)="onChange()">Submit</button>
</div>
